spendtracker-workflow.json
{
  "name": "SpendTracker",
  "nodes": [
    {
      "parameters": {
        "mailbox": "spendings",
        "options": {
          "customEmailConfig": "=[\"UNSEEN\"]",
          "forceReconnect": 30
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1392,
        176
      ],
      "id": "0aba0127-5258-4dbc-bb2d-6775ff139005",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "UMTZBi502YazkVqr",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5018083917",
        "text": "=Spend Card: {{ $json.bank }} {{ $json.identifier }}\nSpend Amount: {{ $json.currency }} {{ $json.amount }}\nMerchant: {{ $json.merchant }}\nMCC: {{ $json.MCC }}\nCategory: {{ $json.Category }}\nTime: {{ $json.time }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        64
      ],
      "id": "336f6743-f1dc-4291-93f8-487f71948d98",
      "name": "Send a text message",
      "webhookId": "1ae86153-0057-4c83-9e48-54be031f2608",
      "credentials": {
        "telegramApi": {
          "id": "R1VPpIsFlgVT9T22",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO accounts (bank, identifier)\nVALUES ('{{ $json.bank }}', '{{ $json.identifier }}')ON CONFLICT (bank, identifier) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "95b6483d-4727-4254-9298-0f955a20b3fa",
      "name": "CreateAccountIfNotExists",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM merchant_mcc_cache WHERE merchant_normalized = '{{ $json.normalize_merchant }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        240
      ],
      "id": "4979043e-4b7d-417b-b53c-b0da12d4cfdb",
      "name": "GetMCCFromCache",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "801b1e8f-5271-47e5-b81a-830d94786aae",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        240
      ],
      "id": "1fcb2e71-74e1-43f3-bbc5-3f313b0fe15e",
      "name": "IfCached"
    },
    {
      "parameters": {
        "url": "=https://www.check-mcc.sg/api/store/search?q={{ $('Loop Over Items').item.json.merchant }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        352
      ],
      "id": "3d58c778-b0db-4022-9864-d1a6e474d4ed",
      "name": "GetMCCFromAPI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "merchant_mcc_cache",
          "mode": "list",
          "cachedResultName": "merchant_mcc_cache"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "manual_override": false,
            "merchant_normalized": "={{ $('Merge').item.json.normalize_merchant }}",
            "merchant_original": "={{ $('Merge').item.json.merchant }}",
            "mcc_code": "={{ $json.MCC }}",
            "mcc_description": "={{ $json.Category }}",
            "category": "={{ $json.Category }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "merchant_normalized",
              "displayName": "merchant_normalized",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "merchant_original",
              "displayName": "merchant_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mcc_code",
              "displayName": "mcc_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mcc_description",
              "displayName": "mcc_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manual_override",
              "displayName": "manual_override",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        512
      ],
      "id": "65ecaa7d-5209-46b2-b3bd-4ff283a4d3a3",
      "name": "CacheMCC",
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944bb8ec-fc55-4028-89ba-ea9f85f5db50",
              "name": "MCC",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_code }}{{ $json.MCC }}",
              "type": "string"
            },
            {
              "id": "06418e6a-7ac8-496c-b691-7aaf67aa97f5",
              "name": "Category",
              "value": "={{ $('GetMCCFromCache').item.json.category }}{{ $json.Category }}",
              "type": "string"
            },
            {
              "id": "1e33b481-62c8-4499-88a1-9793469ca585",
              "name": "bank",
              "value": "={{ $('Loop Over Items').item.json.bank }}",
              "type": "string"
            },
            {
              "id": "bfc23c9d-825d-49e8-9ad9-e49baed05885",
              "name": "merchant",
              "value": "={{ $('Loop Over Items').item.json.merchant }}",
              "type": "string"
            },
            {
              "id": "fa1cbc65-7062-4b70-ad7d-051236e4971e",
              "name": "currency",
              "value": "={{ $('Loop Over Items').item.json.currency }}",
              "type": "string"
            },
            {
              "id": "3ad69004-d52a-465b-9758-e361e58e4b7b",
              "name": "amount",
              "value": "={{ $('Loop Over Items').item.json.amount }}",
              "type": "number"
            },
            {
              "id": "d229b49d-bfde-4849-b76e-f2087e374292",
              "name": "identifier",
              "value": "={{ $('Loop Over Items').item.json.identifier }}",
              "type": "string"
            },
            {
              "id": "d5bfae9c-59a4-42f9-b955-b28a905d34e2",
              "name": "time",
              "value": "={{ $('Loop Over Items').item.json.time.toDateTime().setZone('Singapore').format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        144
      ],
      "id": "dce94c3b-710e-462f-a18c-fce556e7064b",
      "name": "CreateTransactionEntry"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/sgd.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        288
      ],
      "id": "ede49c2f-2a60-4b9a-a038-b25502a6b9d0",
      "name": "GetConversionRates"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// const crypto = require('crypto');\nfor (const item of $('CreateTransactionEntry').all()) {\n  item.json.currency = \"MYR\"\n  item.json.base_currency = \"SGD\"\n  if (item.json.currency == \"SGD\") {\n    item.json.amount_base_currency = item.json.amount\n  } else {\n    item.json.amount_base_currency = item.json.amount / $(\"GetConversionRates\").first().json.sgd[item.json.currency.toLowerCase()]\n    item.json.amount_base_currency = Math.round(item.json.amount_base_currency * 100) / 100\n  }\n  \n  const raw = [\n    item.json.bank,\n    item.json.identifier,\n    item.json.merchant,\n    item.json.amount,\n    item.json.time\n  ].join(\"|\");\n\n\n  item.json.transaction_hash = raw;\n}\n\nreturn $('CreateTransactionEntry').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        288
      ],
      "id": "271c488e-a12c-4c8e-8c77-61dea162fbf4",
      "name": "ConvertCurrencyIfNeeded"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM accounts WHERE identifier = '{{ $json.identifier }}' AND bank = '{{ $json.bank }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        288
      ],
      "id": "e33bc107-20b6-469f-acb4-6166f7e31512",
      "name": "GetAccount",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (\n    account_id,\n    merchant,\n    amount,\n    currency,\n    amount_base_currency,\n    base_currency,\n    category,\n    mcc_code,\n    transaction_timestamp,\n    transaction_hash\n)\nVALUES (\n    {{ $json.id }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.merchant }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.currency }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount_base_currency }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.base_currency }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.Category }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.MCC }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.time }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.transaction_hash }}'\n)ON CONFLICT (transaction_hash) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        288
      ],
      "id": "0d505807-b2a3-41a8-a7bb-1e07ad5edd43",
      "name": "CreateTransaction",
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  var html = item.json.textHtml\n\n  if (item.json.textHtml.includes(\"maribank\")) {\n    extractMaribank(html)\n  }\n\n}\n\n\nfunction extractMaribank(html) {\n  // Optional: strip excessive whitespace to make regex easier\n  const cleaned = html.replace(/\\s+/g, \" \");\n  \n  // 1️⃣ Extract Merchant\n  const merchantMatch = cleaned.match(\n    /payment to\\s+(.+?)\\s+on your credit card ending/i\n  );\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n  \n  // 2️⃣ Extract Card Ending\n  const cardMatch = cleaned.match(/credit card ending\\s+(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n  \n  // 3️⃣ Extract Amount\n  const amountMatch = cleaned.match(/([A-Z]{3})\\s*([\\d,]+\\.\\d{2})/);\n  \n  let currency = null;\n  let amount = null;\n  \n  if (amountMatch) {\n    currency = amountMatch[1];\n    amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n  }\n\n  const dateMatch = cleaned.match(\n  /(\\d{1,2}\\s\\w+\\s\\d{4}\\s\\d{2}:\\d{2})\\s*SGT/i\n);\n\n  let transactionRaw = null;\n  let transactionISO = null;\n  \n  if (dateMatch) {\n    transactionRaw = dateMatch[1];\n  \n    // Convert to ISO format for DB\n    const parsedDate = new Date(transactionRaw + \" GMT+0800\");\n    transactionISO = parsedDate.toISOString();\n  }\n\n\n  result.push( {\n    bank: \"MariBank\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant)\n  })\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        176
      ],
      "id": "3b395b94-5c81-4c23-a541-603d3a0902f4",
      "name": "MaribankParser"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "time",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(1) td:nth-child(2)",
              "returnValue": "html"
            },
            {
              "key": "amount",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(2) td:nth-child(2)"
            },
            {
              "key": "identifier",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(3) td:nth-child(2)"
            },
            {
              "key": "merchant",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(4) td:nth-child(2)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -880,
        432
      ],
      "id": "36cefeab-5873-44ab-9154-232e5b8c9993",
      "name": "paylah_html_parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        208
      ],
      "id": "cd2890a6-7bab-49a1-a34b-0aafc538ea0c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet result = []\nfor (const item of $input.all()) {\n\n    ExtractDBS(item)\n\n}\n\nfunction ExtractDBS(item) {\n    \n  let merchant = item.json.merchant\n  const amountMatch = item.json.amount.match(/([A-Z]{3})*([\\d,]+\\.\\d{2})/);\n  let currency = null\n  let amount = null\n   if (amountMatch) {\n      currency = amountMatch[1];\n      amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n    }\n  // Get current year\n  const year = new Date().getFullYear();\n  \n  // Remove the timezone abbreviation, append year, and add SGT offset (+08:00)\n  const cleanStr = $input.item.json.time.replace(/\\(SGT\\)/, '').trim() + ` ${year} +08:00`;\n  \n  // Convert to Date and ISO string\n  const transactionISO = new Date(cleanStr).toISOString();\n  \n\n\n  result.push( {\n    bank: \"DBS\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: $input.item.json.identifier,\n    normalize_merchant: normalizeMerchant(merchant)\n  });\n\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        480
      ],
      "id": "f97194fd-4585-47b3-83ed-b7bcc9f43872",
      "name": "dbsparser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "590ec9c8-3eed-4685-bb68-09a21bc1613f",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        528
      ],
      "id": "d7f7b052-4f48-4754-84a9-7d3d80baaf53",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "PayLah!",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "12540cd0-0c4a-4ae1-9d83-bf44062c02ae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98146651-099b-49a6-a226-38d6d389d2ac",
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "DBS/POSB",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1264,
        496
      ],
      "id": "25e38d75-cfc7-47c3-a5c8-b2be321b195d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "cleaned",
              "cssSelector": " table tr:nth-of-type(4) p:nth-child(4)",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1008,
        624
      ],
      "id": "694fe5a3-c7c8-4eed-965a-79511ba3d44d",
      "name": "paylah_html_parser1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  // 1️⃣ Decode HTML entity\n  const text = item.json.cleaned.replace(/&amp;/g, \"&\");\n  \n  // 2️⃣ Extract values\n  const timeMatch = text.match(/Date\\s*&\\s*Time:\\s*([^\\n<]+)/i);\n  const amountMatch = text.match(/Amount:\\s*([A-Z]{3}\\d+\\.\\d+)/i);\n  const fromMatch = text.match(/From:\\s*([^\\n<]+)/i);\n  const toMatch = text.match(/To:\\s*([^\\n<]+)/i);\n  \n  // 3️⃣ Build result\n  result.push({\n    time: timeMatch ? timeMatch[1].trim() : null,\n    // currency: amountMatch ? amountMatch[1] : null,\n    amount: amountMatch ? amountMatch[1] : null,\n    identifier: fromMatch ? fromMatch[1].trim() : null,\n    merchant: toMatch ? toMatch[1].trim() : null\n  });\n\n}\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        624
      ],
      "id": "c1e2c46c-a3a2-44b8-b225-8b373f444d23",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        208
      ],
      "id": "f3d0486d-348a-4227-9c70-9c2bce198668",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        480
      ],
      "id": "8e5e8d23-79c3-4f99-99ba-1c6a065cb3e3",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "MaribankParser",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromCache": {
      "main": [
        [
          {
            "node": "IfCached",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCached": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetMCCFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromAPI": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransactionEntry": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetConversionRates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetConversionRates": {
      "main": [
        [
          {
            "node": "ConvertCurrencyIfNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertCurrencyIfNeeded": {
      "main": [
        [
          {
            "node": "GetAccount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAccount": {
      "main": [
        [
          {
            "node": "CreateTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MaribankParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paylah_html_parser": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dbsparser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "CacheMCC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "paylah_html_parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "paylah_html_parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paylah_html_parser1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "CreateAccountIfNotExists",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetMCCFromCache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "dbsparser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1ea73db0-d5be-40ba-9462-423786e2a05e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3331f7fcbc7fc9316fa650930206bb775c2eb4ca323f67bb1bd3156d07a2c022"
  },
  "id": "vkm4biskY5Si5Lcg",
  "tags": []
}
