workflow.json
{
  "name": "Final",
  "nodes": [
    {
      "parameters": {
        "mailbox": "spendings",
        "options": {
          "customEmailConfig": "=[\"ALL\"]\n\n",
          "forceReconnect": 30
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -1280,
        176
      ],
      "id": "7cf781ac-eb82-43d0-8ccb-a3bf652315a6",
      "name": "Email Trigger (IMAP)"
    },
    {
      "parameters": {
        "chatId": "-5018083917",
        "text": "=Spend Card: {{ $json.bank }} {{ $json.identifier }}\nSpend Amount: {{ $json.currency }} {{ $json.amount }}\nMerchant: {{ $json.merchant }}\nMCC: {{ $json.MCC }}\nCategory: {{ $json.Category }}\nTime: {{ $json.time }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        64
      ],
      "id": "f388daf2-c223-4120-8124-e3374e656e2b",
      "name": "Send a text message",
      "webhookId": "1ae86153-0057-4c83-9e48-54be031f2608",
      "credentials": {
        "telegramApi": {
          "id": "R1VPpIsFlgVT9T22",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO accounts (bank, identifier)\nVALUES ('{{ $json.bank }}', '{{ $json.identifier }}')ON CONFLICT (bank, identifier) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "c2cbb5ae-25c0-402e-95ad-b05480660f22",
      "name": "CreateAccountIfNotExists",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM merchant_mcc_cache WHERE merchant_normalized = '{{ $json.normalize_merchant }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        224
      ],
      "id": "d42aee64-7a4c-4a87-a4ff-6bd351f4c377",
      "name": "GetMCCFromCache",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "801b1e8f-5271-47e5-b81a-830d94786aae",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        160
      ],
      "id": "767279cc-0380-418e-a903-d195cae2ec4c",
      "name": "IfCached"
    },
    {
      "parameters": {
        "url": "=https://www.check-mcc.sg/api/store/search?q={{ $('Merge').item.json.merchant }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        352
      ],
      "id": "2169a3e5-556d-496d-97fe-152cb3359c3d",
      "name": "GetMCCFromAPI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "merchant_mcc_cache",
          "mode": "list",
          "cachedResultName": "merchant_mcc_cache"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "manual_override": false,
            "merchant_normalized": "={{ $('Merge').item.json.normalize_merchant }}",
            "merchant_original": "={{ $('Merge').item.json.merchant }}",
            "mcc_code": "={{ $json.MCC }}",
            "mcc_description": "={{ $json.Category }}",
            "category": "={{ $json.Category }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "merchant_normalized",
              "displayName": "merchant_normalized",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "merchant_original",
              "displayName": "merchant_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mcc_code",
              "displayName": "mcc_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mcc_description",
              "displayName": "mcc_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "manual_override",
              "displayName": "manual_override",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        512
      ],
      "id": "01b159b7-473d-49ea-9693-d78ee8882d0a",
      "name": "CacheMCC",
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944bb8ec-fc55-4028-89ba-ea9f85f5db50",
              "name": "MCC",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_code }}{{ $json.MCC }}",
              "type": "string"
            },
            {
              "id": "06418e6a-7ac8-496c-b691-7aaf67aa97f5",
              "name": "Category",
              "value": "={{ $('GetMCCFromCache').item.json.category }}{{ $json.Category }}",
              "type": "string"
            },
            {
              "id": "1e33b481-62c8-4499-88a1-9793469ca585",
              "name": "bank",
              "value": "={{ $('Merge').item.json.bank }}",
              "type": "string"
            },
            {
              "id": "bfc23c9d-825d-49e8-9ad9-e49baed05885",
              "name": "merchant",
              "value": "={{ $('Merge').item.json.merchant }}",
              "type": "string"
            },
            {
              "id": "fa1cbc65-7062-4b70-ad7d-051236e4971e",
              "name": "currency",
              "value": "={{ $('Merge').item.json.currency }}",
              "type": "string"
            },
            {
              "id": "3ad69004-d52a-465b-9758-e361e58e4b7b",
              "name": "amount",
              "value": "={{ $('Merge').item.json.amount }}",
              "type": "number"
            },
            {
              "id": "d229b49d-bfde-4849-b76e-f2087e374292",
              "name": "identifier",
              "value": "={{ $('Merge').item.json.identifier }}",
              "type": "string"
            },
            {
              "id": "d5bfae9c-59a4-42f9-b955-b28a905d34e2",
              "name": "time",
              "value": "={{ $('Merge').item.json.time.toDateTime().setZone('Singapore').format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        144
      ],
      "id": "fe4ba22f-ff67-4ab9-af4d-d6daf1ef923b",
      "name": "CreateTransactionEntry"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/sgd.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        288
      ],
      "id": "9d158312-9315-4935-a0a0-74420d6aa090",
      "name": "GetConversionRates"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// const crypto = require('crypto');\nfor (const item of $('CreateTransactionEntry').all()) {\n  item.json.currency = \"MYR\"\n  item.json.base_currency = \"SGD\"\n  if (item.json.currency == \"SGD\") {\n    item.json.amount_base_currency = item.json.amount\n  } else {\n    item.json.amount_base_currency = item.json.amount / $(\"GetConversionRates\").first().json.sgd[item.json.currency.toLowerCase()]\n    item.json.amount_base_currency = Math.round(item.json.amount_base_currency * 100) / 100\n  }\n  \n  const raw = [\n    item.json.bank,\n    item.json.identifier,\n    item.json.merchant,\n    item.json.amount,\n    item.json.time\n  ].join(\"|\");\n\n\n  item.json.transaction_hash = raw;\n}\n\nreturn $('CreateTransactionEntry').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        288
      ],
      "id": "3d4f0c14-4867-48d1-bfaa-9032a75e3e0b",
      "name": "ConvertCurrencyIfNeeded"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM accounts WHERE identifier = '{{ $json.identifier }}' AND bank = '{{ $json.bank }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        288
      ],
      "id": "5174f39d-89c8-4a1f-b917-aeb1010a354e",
      "name": "GetAccount",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (\n    account_id,\n    merchant,\n    amount,\n    currency,\n    amount_base_currency,\n    base_currency,\n    category,\n    mcc_code,\n    transaction_timestamp,\n    transaction_hash\n)\nVALUES (\n    {{ $json.id }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.merchant }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.currency }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount_base_currency }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.base_currency }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.Category }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.MCC }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.time }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.transaction_hash }}'\n)ON CONFLICT (transaction_hash) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1648,
        288
      ],
      "id": "59758780-37d5-4d6c-a70b-a6e836810d1f",
      "name": "CreateTransaction",
      "credentials": {
        "postgres": {
          "id": "QP6jI9flpuTbPeqT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        208
      ],
      "id": "80d78a32-0cbc-4ea4-99bb-36142b37bae2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nvar html = $input.item.json.textHtml\n\nif ($input.item.json.textHtml.includes(\"maribank\")) {\n  return extractMaribank(html)\n}\n\n\nfunction extractMaribank(html) {\n  // Optional: strip excessive whitespace to make regex easier\n  const cleaned = html.replace(/\\s+/g, \" \");\n  \n  // 1️⃣ Extract Merchant\n  const merchantMatch = cleaned.match(\n    /payment to\\s+(.+?)\\s+on your credit card ending/i\n  );\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n  \n  // 2️⃣ Extract Card Ending\n  const cardMatch = cleaned.match(/credit card ending\\s+(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n  \n  // 3️⃣ Extract Amount\n  const amountMatch = cleaned.match(/([A-Z]{3})\\s*([\\d,]+\\.\\d{2})/);\n  \n  let currency = null;\n  let amount = null;\n  \n  if (amountMatch) {\n    currency = amountMatch[1];\n    amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n  }\n\n  const dateMatch = cleaned.match(\n  /(\\d{1,2}\\s\\w+\\s\\d{4}\\s\\d{2}:\\d{2})\\s*SGT/i\n);\n\n  let transactionRaw = null;\n  let transactionISO = null;\n  \n  if (dateMatch) {\n    transactionRaw = dateMatch[1];\n  \n    // Convert to ISO format for DB\n    const parsedDate = new Date(transactionRaw + \" GMT+0800\");\n    transactionISO = parsedDate.toISOString();\n  }\n\n\n  return {\n    bank: \"maribank\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant)\n  }\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        176
      ],
      "id": "8f8c9365-6377-4229-add1-0ea0d9aead3a",
      "name": "MaribankParser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1aa7c1b4-c235-4e5c-bef2-0582cbd35139",
              "leftValue": "={{ $json.textHtml }}",
              "rightValue": "PayLah!",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1024,
        480
      ],
      "id": "9e052307-a517-4495-9fd8-f5942ac6b750",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "time",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(1) td:nth-child(2)",
              "returnValue": "html"
            },
            {
              "key": "amount",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(2) td:nth-child(2)"
            },
            {
              "key": "identifier",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(3) td:nth-child(2)"
            },
            {
              "key": "merchant",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(4) td:nth-child(2)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -816,
        464
      ],
      "id": "698b62a4-3093-4736-b180-0d88c1828df3",
      "name": "paylah_html_parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        192
      ],
      "id": "713a5329-36a6-4d08-adb3-b2bba72d6357",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet merchant = $input.item.json.merchant\nconst amountMatch = $input.item.json.amount.match(/([A-Z]{3})*([\\d,]+\\.\\d{2})/);\nlet currency = null\nlet amount = null\n if (amountMatch) {\n    currency = amountMatch[1];\n    amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n  }\n// Get current year\nconst year = new Date().getFullYear();\n\n// Remove the timezone abbreviation, append year, and add SGT offset (+08:00)\nconst cleanStr = $input.item.json.time.replace(/\\(SGT\\)/, '').trim() + ` ${year} +08:00`;\n\n// Convert to Date and ISO string\nconst transactionISO = new Date(cleanStr).toISOString();\n\n\n\n  return {\n    bank: \"dbs\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: $input.item.json.identifier,\n    normalize_merchant: normalizeMerchant(merchant)\n  }\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        464
      ],
      "id": "725339ed-44a2-4caa-9f53-a0aa8b362afb",
      "name": "dbsparser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "590ec9c8-3eed-4685-bb68-09a21bc1613f",
              "leftValue": "={{ $json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        688,
        528
      ],
      "id": "c22a1e6c-878a-4d4c-89f2-1494002689ee",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "MaribankParser",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromCache": {
      "main": [
        [
          {
            "node": "IfCached",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCached": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetMCCFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromAPI": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransactionEntry": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetConversionRates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetConversionRates": {
      "main": [
        [
          {
            "node": "ConvertCurrencyIfNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertCurrencyIfNeeded": {
      "main": [
        [
          {
            "node": "GetAccount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAccount": {
      "main": [
        [
          {
            "node": "CreateTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GetMCCFromCache",
            "type": "main",
            "index": 0
          },
          {
            "node": "CreateAccountIfNotExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MaribankParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "paylah_html_parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paylah_html_parser": {
      "main": [
        [
          {
            "node": "dbsparser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dbsparser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "CacheMCC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "14034b33-8ae7-4316-b6aa-f6b4622dc566",
  "meta": {
    "instanceId": "3331f7fcbc7fc9316fa650930206bb775c2eb4ca323f67bb1bd3156d07a2c022"
  },
  "id": "k1QGJc82TewdjiPj",
  "tags": []
}
