workflows/spendtracker-workflow.json
{
  "name": "SpendTracker",
  "nodes": [
    {
      "parameters": {
        "mailbox": "spendings",
        "options": {
          "customEmailConfig": "=[\"UNSEEN\"]",
          "forceReconnect": 30
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -608,
        224
      ],
      "id": "61107edd-2409-481a-864c-ad336efdffaf",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "jaUzCS8DoF2kg4L2",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('GetTelegram').item.json.group_id }}",
        "text": "=Spend Card: {{ $('CreateTransactionEntry').item.json.bank }} {{ $('CreateTransactionEntry').item.json.identifier }}\nSpend Amount: {{ $json.currency }} {{ $json.amount }}\nMerchant: {{ $json.merchant }}\nMCC: {{ $json.mcc_code }}\nCategory: {{ $json.category }}\nTime: {{ $('CreateTransactionEntry').item.json.time }}\nTransaction ID: {{ $json.id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "UpdateMCC",
                    "additionalFields": {
                      "switch_inline_query_current_chat": "=/updatemcc {{ $json.id }} "
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3648,
        384
      ],
      "id": "9b8e6e7a-03b1-41c9-824f-06ca95da3327",
      "name": "Send a text message",
      "webhookId": "1ae86153-0057-4c83-9e48-54be031f2608",
      "credentials": {
        "telegramApi": {
          "id": "nbHkKJJySQ1pgycv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO accounts (bank, identifier)\nVALUES ('{{ $json.bank }}', '{{ $json.identifier }}')ON CONFLICT (bank, identifier) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        48
      ],
      "id": "12c687ab-7cbe-4fca-872b-0e44954928e3",
      "name": "CreateAccountIfNotExists",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM merchant_mcc_cache WHERE merchant_normalized = '{{ $json.normalize_merchant }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        304
      ],
      "id": "f66fc49b-abba-4f4d-ae4c-0e183d37dd78",
      "name": "GetMCCFromCache",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "801b1e8f-5271-47e5-b81a-830d94786aae",
              "leftValue": "={{ $('GetMCCFromCache').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e9a65ef-a0fd-4fe4-bfdd-c8d5bf745efd",
              "leftValue": "={{ String($('GetMCCFromCache').item.json.mcc_code || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        272
      ],
      "id": "59998484-7b15-4fd1-9863-3df264a4b1a3",
      "name": "IfCached"
    },
    {
      "parameters": {
        "url": "=https://www.check-mcc.sg/api/store/search?q={{ $('Loop Over Items').item.json.merchant }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1824,
        512
      ],
      "id": "f457870a-2499-4516-b42e-7e82e34219cb",
      "name": "GetMCCFromAPI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO merchant_mcc_cache (\n    merchant_normalized,\n    merchant_original,\n    mcc_code,\n    mcc_description,\n    category\n)\nVALUES (\n    '{{ $('Loop Over Items').item.json.normalize_merchant }}',\n    '{{ $('Loop Over Items').item.json.merchant }}',\n    NULLIF('{{ $json.MCC || '' }}', ''),\n    NULLIF('{{ $json.Category || '' }}', ''),\n    NULLIF('{{ $json.Category || '' }}', '')\n)\nON CONFLICT (merchant_normalized) DO UPDATE\nSET merchant_original = EXCLUDED.merchant_original,\n    mcc_code = COALESCE(EXCLUDED.mcc_code, merchant_mcc_cache.mcc_code),\n    mcc_description = COALESCE(EXCLUDED.mcc_description, merchant_mcc_cache.mcc_description),\n    category = COALESCE(EXCLUDED.category, merchant_mcc_cache.category),\n    updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        512
      ],
      "id": "7b10d298-414e-4961-b4ea-67f4e1948c04",
      "name": "CreateCacheFromAPI",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86bcab1f-c85f-4840-b265-42f54b96cb19",
              "name": "id",
              "value": "={{ $('GetMCCFromCache').item.json.id }}",
              "type": "number"
            },
            {
              "id": "7ccfda31-f9f2-4578-bd38-7a073fbbd5d7",
              "name": "mcc_code",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_code }}",
              "type": "string"
            },
            {
              "id": "8edcb769-5d46-44ec-89ff-b5da12c8fc54",
              "name": "mcc_description",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_description }}",
              "type": "string"
            },
            {
              "id": "b122fd3d-a35b-44ff-b9e7-211e395b3406",
              "name": "category",
              "value": "={{ $('GetMCCFromCache').item.json.category || $('GetMCCFromCache').item.json.mcc_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        144
      ],
      "id": "26a72051-f489-4853-a93b-fae1f690e9f1",
      "name": "UseExactCache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8a04b85-cbea-4d01-b7e9-b0f0d9030f01",
              "leftValue": "={{ $('GetFromMCCSim').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0d48f85f-57bd-4ab6-aa6a-70a784944d38",
              "leftValue": "={{ String($('GetFromMCCSim').item.json.mcc_code || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        304
      ],
      "id": "37eef2df-8c0c-4c9d-b15b-c845cd74acae",
      "name": "IfSimilar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO merchant_mcc_cache (\n    merchant_normalized,\n    merchant_original,\n    mcc_code,\n    mcc_description,\n    category\n)\nVALUES (\n    '{{ $('Loop Over Items').item.json.normalize_merchant }}',\n    '{{ $('Loop Over Items').item.json.merchant }}',\n    NULLIF('{{ $('GetFromMCCSim').item.json.mcc_code || '' }}', ''),\n    NULLIF('{{ $('GetFromMCCSim').item.json.mcc_description || '' }}', ''),\n    NULLIF('{{ $('GetFromMCCSim').item.json.category || $('GetFromMCCSim').item.json.mcc_description || '' }}', '')\n)\nON CONFLICT (merchant_normalized) DO UPDATE\nSET merchant_original = EXCLUDED.merchant_original,\n    mcc_code = COALESCE(EXCLUDED.mcc_code, merchant_mcc_cache.mcc_code),\n    mcc_description = COALESCE(EXCLUDED.mcc_description, merchant_mcc_cache.mcc_description),\n    category = COALESCE(EXCLUDED.category, merchant_mcc_cache.category),\n    updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        304
      ],
      "id": "b3d0d611-399e-443d-a511-16dce0fd41f9",
      "name": "CreateCacheFromSimilar",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944bb8ec-fc55-4028-89ba-ea9f85f5db50",
              "name": "MCC",
              "value": "={{ $json.mcc_code }}",
              "type": "string"
            },
            {
              "id": "06418e6a-7ac8-496c-b691-7aaf67aa97f5",
              "name": "Category",
              "value": "={{ $json.category || $json.mcc_description }}",
              "type": "string"
            },
            {
              "id": "bf649189-294d-4db5-8ecf-d1b2ecb18365",
              "name": "merchant_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "1e33b481-62c8-4499-88a1-9793469ca585",
              "name": "bank",
              "value": "={{ $('Loop Over Items').item.json.bank }}",
              "type": "string"
            },
            {
              "id": "bfc23c9d-825d-49e8-9ad9-e49baed05885",
              "name": "merchant",
              "value": "={{ $('Loop Over Items').item.json.merchant }}",
              "type": "string"
            },
            {
              "id": "fa1cbc65-7062-4b70-ad7d-051236e4971e",
              "name": "currency",
              "value": "={{ $('Loop Over Items').item.json.currency }}",
              "type": "string"
            },
            {
              "id": "3ad69004-d52a-465b-9758-e361e58e4b7b",
              "name": "amount",
              "value": "={{ $('Loop Over Items').item.json.amount }}",
              "type": "number"
            },
            {
              "id": "d229b49d-bfde-4849-b76e-f2087e374292",
              "name": "identifier",
              "value": "={{ $('Loop Over Items').item.json.identifier }}",
              "type": "string"
            },
            {
              "id": "d5bfae9c-59a4-42f9-b955-b28a905d34e2",
              "name": "time",
              "value": "={{ $('Loop Over Items').item.json.time.toDateTime().setZone('Singapore').format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        384
      ],
      "id": "edd55007-2c27-4f0b-aad0-92b2bde46a5a",
      "name": "CreateTransactionEntry"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/sgd.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        384
      ],
      "id": "7bc4c607-3c12-4c6e-8fac-eb18fd785043",
      "name": "GetConversionRates",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const entries = $('CreateTransactionEntry').all();\n\nlet rates = null;\ntry {\n  const ratePayload = $('GetConversionRates').first()?.json;\n  rates = ratePayload?.sgd ?? null;\n} catch (e) {\n  rates = null;\n}\n\nfor (const item of entries) {\n  const currency = String(item.json.currency || '').toUpperCase();\n  const amount = Number(item.json.amount);\n\n  // Safe fallback: if FX rate is unavailable/invalid, keep original amount\n  item.json.amount_base_currency = amount;\n\n  if (currency !== 'SGD' && Number.isFinite(amount)) {\n    const rate = Number(rates?.[currency.toLowerCase()]);\n    if (Number.isFinite(rate) && rate > 0) {\n      item.json.amount_base_currency = Math.round((amount / rate) * 100) / 100;\n      item.json.fx_fallback_used = false;\n    } else {\n      item.json.fx_fallback_used = true;\n    }\n  } else {\n    item.json.fx_fallback_used = false;\n  }\n\n  const raw = [\n    item.json.bank,\n    item.json.identifier,\n    item.json.merchant,\n    item.json.amount,\n    item.json.time\n  ].join('|');\n\n  item.json.transaction_hash = raw;\n}\n\nreturn entries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        384
      ],
      "id": "a21b0f00-049b-4dd0-b77b-4267238a6af0",
      "name": "ConvertCurrencyIfNeeded"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM accounts WHERE identifier = '{{ $json.identifier }}' AND bank = '{{ $json.bank }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3184,
        384
      ],
      "id": "a1f837dc-051c-4a19-92ec-c68f47afbdb4",
      "name": "GetAccount",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (\n    account_id,\n    merchant_id,\n    merchant,\n    amount,\n    currency,\n    amount_base_currency,\n    base_currency,\n    category,\n    mcc_code,\n    transaction_timestamp,\n    transaction_hash\n)\nVALUES (\n    {{ $json.id }},\n    {{ $('ConvertCurrencyIfNeeded').item.json.merchant_id }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.merchant }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.currency }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount_base_currency }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.fx_fallback_used ? $('ConvertCurrencyIfNeeded').item.json.currency : 'SGD' }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.Category }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.MCC }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.time }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.transaction_hash }}'\n)\nON CONFLICT (transaction_hash) DO UPDATE\nSET transaction_hash = transactions.transaction_hash  -- dummy update to trigger RETURNING\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        384
      ],
      "id": "0870d0e0-5f7a-4933-8d2b-086e25e7e216",
      "name": "CreateTransaction",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  var html = item.json.textHtml\n\n  if (item.json.textHtml.includes(\"maribank\")) {\n    extractMaribank(html)\n  }\n\n}\n\n\nfunction extractMaribank(html) {\n  // Optional: strip excessive whitespace to make regex easier\n  const cleaned = html.replace(/\\s+/g, \" \");\n  \n  // 1️⃣ Extract Merchant\n  const merchantMatch = cleaned.match(\n    /payment to\\s+(.+?)\\s+on your credit card ending/i\n  );\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n  \n  // 2️⃣ Extract Card Ending\n  const cardMatch = cleaned.match(/credit card ending\\s+(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n  \n  // 3️⃣ Extract Amount\n  const amountMatch = cleaned.match(/([A-Z]{3})\\s*([\\d,]+\\.\\d{2})/);\n  \n  let currency = null;\n  let amount = null;\n  \n  if (amountMatch) {\n    currency = amountMatch[1];\n    amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n  }\n\n  const dateMatch = cleaned.match(\n  /(\\d{1,2}\\s\\w+\\s\\d{4}\\s\\d{2}:\\d{2})\\s*SGT/i\n);\n\n  let transactionRaw = null;\n  let transactionISO = null;\n  \n  if (dateMatch) {\n    transactionRaw = dateMatch[1];\n  \n    // Convert to ISO format for DB\n    const parsedDate = new Date(transactionRaw + \" GMT+0800\");\n    transactionISO = parsedDate.toISOString();\n  }\n\n\n  result.push( {\n    bank: \"MariBank\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant)\n  })\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "a718ad7e-c554-468c-9dce-e0092bdd3c5e",
      "name": "MaribankParser"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "time",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(1) td:nth-child(2)",
              "returnValue": "html"
            },
            {
              "key": "amount",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(2) td:nth-child(2)"
            },
            {
              "key": "identifier",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(3) td:nth-child(2)"
            },
            {
              "key": "merchant",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(4) td:nth-child(2)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -32,
        480
      ],
      "id": "4bcc978d-8a01-4343-ad13-57e0556a0c47",
      "name": "paylah_html_parser"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        256
      ],
      "id": "c934b76d-296a-41fc-ac7b-24b43d5409d8",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet result = []\nfor (const item of $input.all()) {\n\n    ExtractDBS(item)\n\n}\n\nfunction ExtractDBS(item) {\n    \n  let merchant = item.json.merchant\n  const amountMatch = item.json.amount.match(/([A-Z]{3})*([\\d,]+\\.\\d{2})/);\n  let currency = null\n  let amount = null\n   if (amountMatch) {\n      currency = amountMatch[1];\n      amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n    }\n  // Get current year\n  const year = new Date().getFullYear();\n  \n  // Remove the timezone abbreviation, append year, and add SGT offset (+08:00)\n  const cleanStr = $input.item.json.time.replace(/\\(SGT\\)/, '').trim() + ` ${year} +08:00`;\n  \n  // Convert to Date and ISO string\n  const transactionISO = new Date(cleanStr).toISOString();\n  \n\n\n  result.push( {\n    bank: \"DBS\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: item.json.identifier,\n    normalize_merchant: normalizeMerchant(merchant)\n  });\n\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        528
      ],
      "id": "8c0cd2f2-4a6e-4eea-beae-401fbdcd65fe",
      "name": "dbsparser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "PayLah!",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "12540cd0-0c4a-4ae1-9d83-bf44062c02ae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98146651-099b-49a6-a226-38d6d389d2ac",
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "DBS/POSB",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        544
      ],
      "id": "3981bada-c880-4942-8551-5dda82c7dac7",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "cleaned",
              "cssSelector": " table tr:nth-of-type(4) p:nth-child(4)",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        672
      ],
      "id": "668709ce-a0ac-47ce-8ee5-680f3f3bd851",
      "name": "paylah_html_parser1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  // 1️⃣ Decode HTML entity\n  const text = item.json.cleaned.replace(/&amp;/g, \"&\");\n  \n  // 2️⃣ Extract values\n  const timeMatch = text.match(/Date\\s*&\\s*Time:\\s*([^\\n<]+)/i);\n  const amountMatch = text.match(/Amount:\\s*([A-Z]{3}\\d+\\.\\d+)/i);\n  const fromMatch = text.match(/From:\\s*([^\\n<]+)/i);\n  const toMatch = text.match(/To:\\s*([^\\n<]+)/i);\n  \n  // 3️⃣ Build result\n  result.push({\n    time: timeMatch ? timeMatch[1].trim() : null,\n    // currency: amountMatch ? amountMatch[1] : null,\n    amount: amountMatch ? amountMatch[1] : null,\n    identifier: fromMatch ? fromMatch[1].trim() : null,\n    merchant: toMatch ? toMatch[1].trim() : null\n  });\n\n}\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        672
      ],
      "id": "4bd81f10-08f7-4dce-87b4-1326d3939f14",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        256
      ],
      "id": "4d886c81-2043-48f4-b6f4-177d53ace597",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        528
      ],
      "id": "1431a434-4bd7-4ccc-a1ee-4ef04c9d2afa",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nlet result = []\nfor (const item of $input.all()) {\n  const plainText = item.json.textPlain;\n\n  if (plainText && plainText.includes(\"UOB\")) {\n    extractUOB(plainText);\n  }\n}\n\nfunction extractUOB(text) {\n  const amountMatch = text.match(/([A-Z]{3})\\s([\\d,]+\\.\\d{2})/);\n  const currency = amountMatch ? amountMatch[1] : null;\n  const amount = amountMatch ? parseFloat(amountMatch[2].replace(/,/g, \"\")) : null;\n\n  const cardMatch = text.match(/Card ending\\s(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n\n  const merchantMatch = text.match(/at\\s(.+?)\\./i);\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n\n  const dateMatch = text.match(/on\\s(\\d{2}\\/\\d{2}\\/\\d{2})/i);\n  let transactionISO = null;\n\n  if (dateMatch) {\n    const parts = dateMatch[1].split('/');\n    const year = \"20\" + parts[2];\n    const month = parts[1];\n    const day = parts[0];\n    transactionISO = new Date(`${year}-${month}-${day}T12:00:00+08:00`).toISOString();\n  }\n\n  result.push({\n    bank: \"UOB\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant || \"\")\n  });\n}\n\nfunction normalizeMerchant(name) {\n  return name.toUpperCase().replace(/[^A-Z0-9]/g, \"\").trim();\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "944b8189-0e06-4c2f-af11-f94719a243e9",
      "name": "UobParser"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM telegram LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        272
      ],
      "id": "f17deee2-728b-4f5f-addf-ebb0832016a7",
      "name": "GetTelegram",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *,\n       similarity('{{ $('Loop Over Items').item.json.normalize_merchant }}', merchant_normalized) AS sim\nFROM merchant_mcc_cache WHERE similarity('{{ $('Loop Over Items').item.json.normalize_merchant }}', merchant_normalized) > 0.4\nORDER BY sim DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        304
      ],
      "id": "ecf589b2-b443-4d94-b176-9763fc6641d8",
      "name": "GetFromMCCSim",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "MaribankParser",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "UobParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromCache": {
      "main": [
        [
          {
            "node": "GetFromMCCSim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCached": {
      "main": [
        [
          {
            "node": "UseExactCache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfSimilar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromAPI": {
      "main": [
        [
          {
            "node": "CreateCacheFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCacheFromAPI": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UseExactCache": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfSimilar": {
      "main": [
        [
          {
            "node": "CreateCacheFromSimilar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetMCCFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCacheFromSimilar": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransactionEntry": {
      "main": [
        [
          {
            "node": "GetConversionRates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetConversionRates": {
      "main": [
        [
          {
            "node": "ConvertCurrencyIfNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertCurrencyIfNeeded": {
      "main": [
        [
          {
            "node": "GetAccount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAccount": {
      "main": [
        [
          {
            "node": "CreateTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransaction": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MaribankParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "paylah_html_parser": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dbsparser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "paylah_html_parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "paylah_html_parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paylah_html_parser1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "CreateAccountIfNotExists",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetMCCFromCache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "dbsparser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UobParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTelegram": {
      "main": [
        [
          {
            "node": "IfCached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFromMCCSim": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetTelegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2c426634-9a9c-4f51-a36b-9dd555134742",
  "meta": {
    "instanceId": "9060d50ef91e3336b69b231eb277ddbf649e363421bcac49696e39d16ad50e63"
  },
  "id": "spendtracker",
  "tags": []
}
