workflows/spendtracker-workflow.json
{
  "name": "SpendTracker",
  "nodes": [
    {
      "parameters": {
        "mailbox": "spendings",
        "options": {
          "customEmailConfig": "=[\"UNSEEN\"]",
          "forceReconnect": 30
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -608,
        224
      ],
      "id": "47bf70e4-f00e-4488-beb9-4275cbfd5da3",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "jaUzCS8DoF2kg4L2",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('GetTelegram').item.json.group_id }}",
        "text": "=Spend Card: {{ $('CreateTransactionEntry').item.json.bank }} {{ $('CreateTransactionEntry').item.json.identifier }}\nSpend Amount: {{ $json.currency }} {{ $json.amount }}\nMerchant: {{ $json.merchant }}\nMCC: {{ $json.mcc_code }}\nCategory: {{ $json.category }}\nTime: {{ $('CreateTransactionEntry').item.json.time }}\nTransaction ID: {{ $json.id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "UpdateMCC",
                    "additionalFields": {
                      "switch_inline_query_current_chat": "=/updatemcc {{ $json.id }} "
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3648,
        384
      ],
      "id": "723f4977-abc8-40d2-892a-e21d73ea9775",
      "name": "Send a text message",
      "webhookId": "1ae86153-0057-4c83-9e48-54be031f2608",
      "credentials": {
        "telegramApi": {
          "id": "nbHkKJJySQ1pgycv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO accounts (bank, identifier)\nVALUES ('{{ $json.bank }}', '{{ $json.identifier }}')ON CONFLICT (bank, identifier) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        48
      ],
      "id": "9c4d9bfe-3034-4df4-8fce-b2fb192d4357",
      "name": "CreateAccountIfNotExists",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM merchant_mcc_cache WHERE merchant_normalized = '{{ $json.normalize_merchant }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        304
      ],
      "id": "62120016-c069-4505-a469-d557c109c05a",
      "name": "GetMCCFromCache",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "801b1e8f-5271-47e5-b81a-830d94786aae",
              "leftValue": "={{ $('GetMCCFromCache').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e9a65ef-a0fd-4fe4-bfdd-c8d5bf745efd",
              "leftValue": "={{ String($('GetMCCFromCache').item.json.mcc_code || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        272
      ],
      "id": "028d71a3-4c5f-43b3-b266-4727c3c008cb",
      "name": "IfCached"
    },
    {
      "parameters": {
        "url": "=https://www.check-mcc.sg/api/store/search?q={{ $('Loop Over Items').item.json.merchant }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1824,
        512
      ],
      "id": "9cc97b14-9469-4109-baf1-8a933b8d287d",
      "name": "GetMCCFromAPI",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO merchant_mcc_cache (\n    merchant_normalized,\n    merchant_original,\n    mcc_code,\n    mcc_description,\n    category\n)\nVALUES (\n    '{{ $('Loop Over Items').item.json.normalize_merchant }}',\n    '{{ $('Loop Over Items').item.json.merchant }}',\n    NULLIF('{{ $json.MCC || '' }}', ''),\n    NULLIF('{{ $json.Category || '' }}', ''),\n    NULLIF('{{ $json.Category || '' }}', '')\n)\nON CONFLICT (merchant_normalized) DO UPDATE\nSET merchant_original = EXCLUDED.merchant_original,\n    mcc_code = COALESCE(EXCLUDED.mcc_code, merchant_mcc_cache.mcc_code),\n    mcc_description = COALESCE(EXCLUDED.mcc_description, merchant_mcc_cache.mcc_description),\n    category = COALESCE(EXCLUDED.category, merchant_mcc_cache.category),\n    updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        512
      ],
      "id": "5f26f3b7-1534-4576-abcc-252a92f33b12",
      "name": "CreateCacheFromAPI",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86bcab1f-c85f-4840-b265-42f54b96cb19",
              "name": "id",
              "value": "={{ $('GetMCCFromCache').item.json.id }}",
              "type": "number"
            },
            {
              "id": "7ccfda31-f9f2-4578-bd38-7a073fbbd5d7",
              "name": "mcc_code",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_code }}",
              "type": "string"
            },
            {
              "id": "8edcb769-5d46-44ec-89ff-b5da12c8fc54",
              "name": "mcc_description",
              "value": "={{ $('GetMCCFromCache').item.json.mcc_description }}",
              "type": "string"
            },
            {
              "id": "b122fd3d-a35b-44ff-b9e7-211e395b3406",
              "name": "category",
              "value": "={{ $('GetMCCFromCache').item.json.category || $('GetMCCFromCache').item.json.mcc_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        144
      ],
      "id": "255876bc-a30b-4647-b00e-102c0194d175",
      "name": "UseExactCache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8a04b85-cbea-4d01-b7e9-b0f0d9030f01",
              "leftValue": "={{ $('GetFromMCCSim').item.json }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0d48f85f-57bd-4ab6-aa6a-70a784944d38",
              "leftValue": "={{ String($('GetFromMCCSim').item.json.mcc_code || '').trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        304
      ],
      "id": "4d199ba8-f4f4-4d6e-aca4-7071fa5483db",
      "name": "IfSimilar"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO merchant_mcc_cache (\n    merchant_normalized,\n    merchant_original,\n    mcc_code,\n    mcc_description,\n    category\n)\nVALUES (\n    '{{ $('Loop Over Items').item.json.normalize_merchant }}',\n    '{{ $('Loop Over Items').item.json.merchant }}',\n    NULLIF('{{ $('GetFromMCCSim').item.json.mcc_code || '' }}', ''),\n    NULLIF('{{ $('GetFromMCCSim').item.json.mcc_description || '' }}', ''),\n    NULLIF('{{ $('GetFromMCCSim').item.json.category || $('GetFromMCCSim').item.json.mcc_description || '' }}', '')\n)\nON CONFLICT (merchant_normalized) DO UPDATE\nSET merchant_original = EXCLUDED.merchant_original,\n    mcc_code = COALESCE(EXCLUDED.mcc_code, merchant_mcc_cache.mcc_code),\n    mcc_description = COALESCE(EXCLUDED.mcc_description, merchant_mcc_cache.mcc_description),\n    category = COALESCE(EXCLUDED.category, merchant_mcc_cache.category),\n    updated_at = NOW()\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        304
      ],
      "id": "105e0686-1420-44c1-9bfe-f3437095633e",
      "name": "CreateCacheFromSimilar",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "944bb8ec-fc55-4028-89ba-ea9f85f5db50",
              "name": "MCC",
              "value": "={{ $json.mcc_code }}",
              "type": "string"
            },
            {
              "id": "06418e6a-7ac8-496c-b691-7aaf67aa97f5",
              "name": "Category",
              "value": "={{ $json.category || $json.mcc_description }}",
              "type": "string"
            },
            {
              "id": "bf649189-294d-4db5-8ecf-d1b2ecb18365",
              "name": "merchant_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "1e33b481-62c8-4499-88a1-9793469ca585",
              "name": "bank",
              "value": "={{ $('Loop Over Items').item.json.bank }}",
              "type": "string"
            },
            {
              "id": "bfc23c9d-825d-49e8-9ad9-e49baed05885",
              "name": "merchant",
              "value": "={{ $('Loop Over Items').item.json.merchant }}",
              "type": "string"
            },
            {
              "id": "fa1cbc65-7062-4b70-ad7d-051236e4971e",
              "name": "currency",
              "value": "={{ $('Loop Over Items').item.json.currency }}",
              "type": "string"
            },
            {
              "id": "3ad69004-d52a-465b-9758-e361e58e4b7b",
              "name": "amount",
              "value": "={{ $('Loop Over Items').item.json.amount }}",
              "type": "number"
            },
            {
              "id": "d229b49d-bfde-4849-b76e-f2087e374292",
              "name": "identifier",
              "value": "={{ $('Loop Over Items').item.json.identifier }}",
              "type": "string"
            },
            {
              "id": "d5bfae9c-59a4-42f9-b955-b28a905d34e2",
              "name": "time",
              "value": "={{ $('Loop Over Items').item.json.time.toDateTime().setZone('Singapore').format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        384
      ],
      "id": "cab00de5-8f21-4287-88c2-2d9bedfb8063",
      "name": "CreateTransactionEntry"
    },
    {
      "parameters": {
        "url": "https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@latest/v1/currencies/sgd.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        384
      ],
      "id": "f9324d35-953d-486b-82d2-b20847d003ae",
      "name": "GetConversionRates",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const entries = $('CreateTransactionEntry').all();\n\nlet rates = null;\ntry {\n  const ratePayload = $('GetConversionRates').first()?.json;\n  rates = ratePayload?.sgd ?? null;\n} catch (e) {\n  rates = null;\n}\n\nfor (const item of entries) {\n  const currency = String(item.json.currency || '').toUpperCase();\n  const amount = Number(item.json.amount);\n\n  // Safe fallback: if FX rate is unavailable/invalid, keep original amount\n  item.json.amount_base_currency = amount;\n\n  if (currency !== 'SGD' && Number.isFinite(amount)) {\n    const rate = Number(rates?.[currency.toLowerCase()]);\n    if (Number.isFinite(rate) && rate > 0) {\n      item.json.amount_base_currency = Math.round((amount / rate) * 100) / 100;\n      item.json.fx_fallback_used = false;\n    } else {\n      item.json.fx_fallback_used = true;\n    }\n  } else {\n    item.json.fx_fallback_used = false;\n  }\n\n  const raw = [\n    item.json.bank,\n    item.json.identifier,\n    item.json.merchant,\n    item.json.amount,\n    item.json.time\n  ].join('|');\n\n  item.json.transaction_hash = raw;\n}\n\nreturn entries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        384
      ],
      "id": "40269bbb-755b-47de-9b98-0fb328fda85f",
      "name": "ConvertCurrencyIfNeeded"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM accounts WHERE identifier = '{{ $json.identifier }}' AND bank = '{{ $json.bank }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3184,
        384
      ],
      "id": "9da8c3cd-d1f5-44eb-b0e4-0dc96fccd92f",
      "name": "GetAccount",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO transactions (\n    account_id,\n    merchant_id,\n    merchant,\n    amount,\n    currency,\n    amount_base_currency,\n    base_currency,\n    category,\n    mcc_code,\n    transaction_timestamp,\n    transaction_hash\n)\nVALUES (\n    {{ $json.id }},\n    {{ $('ConvertCurrencyIfNeeded').item.json.merchant_id }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.merchant }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.currency }}',\n    {{ $('ConvertCurrencyIfNeeded').item.json.amount_base_currency }},\n    '{{ $('ConvertCurrencyIfNeeded').item.json.fx_fallback_used ? $('ConvertCurrencyIfNeeded').item.json.currency : 'SGD' }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.Category }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.MCC }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.time }}',\n    '{{ $('ConvertCurrencyIfNeeded').item.json.transaction_hash }}'\n)\nON CONFLICT (transaction_hash) DO UPDATE\nSET transaction_hash = transactions.transaction_hash  -- dummy update to trigger RETURNING\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3424,
        384
      ],
      "id": "da2ff7a6-c21f-4beb-9843-2e45c5ce4b3b",
      "name": "CreateTransaction",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  var html = item.json.textHtml\n\n  if (item.json.textHtml.includes(\"maribank\")) {\n    extractMaribank(html)\n  }\n\n}\n\n\nfunction extractMaribank(html) {\n  // Optional: strip excessive whitespace to make regex easier\n  const cleaned = html.replace(/\\s+/g, \" \");\n  \n  // 1️⃣ Extract Merchant\n  const merchantMatch = cleaned.match(\n    /payment to\\s+(.+?)\\s+on your credit card ending/i\n  );\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n  \n  // 2️⃣ Extract Card Ending\n  const cardMatch = cleaned.match(/credit card ending\\s+(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n  \n  // 3️⃣ Extract Amount\n  const amountMatch = cleaned.match(/([A-Z]{3})\\s*([\\d,]+\\.\\d{2})/);\n  \n  let currency = null;\n  let amount = null;\n  \n  if (amountMatch) {\n    currency = amountMatch[1];\n    amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n  }\n\n  const dateMatch = cleaned.match(\n  /(\\d{1,2}\\s\\w+\\s\\d{4}\\s\\d{2}:\\d{2})\\s*SGT/i\n);\n\n  let transactionRaw = null;\n  let transactionISO = null;\n  \n  if (dateMatch) {\n    transactionRaw = dateMatch[1];\n  \n    // Convert to ISO format for DB\n    const parsedDate = new Date(transactionRaw + \" GMT+0800\");\n    transactionISO = parsedDate.toISOString();\n  }\n\n\n  result.push( {\n    bank: \"MariBank\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant)\n  })\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "218c9b3e-0a82-419f-b53d-8fa9f7cb790a",
      "name": "MaribankParser"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "time",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(1) td:nth-child(2)",
              "returnValue": "html"
            },
            {
              "key": "amount",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(2) td:nth-child(2)"
            },
            {
              "key": "identifier",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(3) td:nth-child(2)"
            },
            {
              "key": "merchant",
              "cssSelector": "table tr:nth-child(5) tbody tr:nth-child(4) td:nth-child(2)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -32,
        480
      ],
      "id": "1afbf972-da95-4d82-b619-ebb485313d28",
      "name": "paylah_html_parser"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        256
      ],
      "id": "3175b6b6-497f-441a-a617-0e24fad9364b",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "PayLah!",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "12540cd0-0c4a-4ae1-9d83-bf44062c02ae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "98146651-099b-49a6-a226-38d6d389d2ac",
                    "leftValue": "={{ $json.textHtml }}",
                    "rightValue": "DBS/POSB",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        544
      ],
      "id": "3fad4fba-cbf1-4d44-8f78-73ecdd750d54",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet result = []\nfor (const item of $input.all()) {\n  // 1️⃣ Decode HTML entity\n  const text = item.json.cleaned.replace(/&amp;/g, \"&\");\n  \n  // 2️⃣ Extract values\n  const timeMatch = text.match(/Date\\s*&\\s*Time:\\s*([^\\n<]+)/i);\n  const amountMatch = text.match(/Amount:\\s*([A-Z]{3}\\d+\\.\\d+)/i);\n  const fromMatch = text.match(/From:\\s*([^\\n<]+)/i);\n  const toMatch = text.match(/To:\\s*([^\\n<]+)/i);\n\n  const cardMatch = fromMatch[1].trim().match(/card ending\\s(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n  \n  // 3️⃣ Build result\n  result.push({\n    time: timeMatch ? timeMatch[1].trim() : null,\n    // currency: amountMatch ? amountMatch[1] : null,\n    amount: amountMatch ? amountMatch[1] : null,\n    identifier: cardEnding,\n    merchant: toMatch ? toMatch[1].trim() : null\n  });\n\n}\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        672
      ],
      "id": "d08e702d-3293-4cc8-8697-634cedcefb5e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        256
      ],
      "id": "a7b11cb0-5f0d-4e60-b20a-d021a6b2240a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        528
      ],
      "id": "cd3a3ee2-e391-4f69-b313-7a363f9f6ff1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nlet result = []\nfor (const item of $input.all()) {\n  const plainText = item.json.textPlain;\n\n  if (plainText && plainText.includes(\"UOB\")) {\n    extractUOB(plainText);\n  }\n}\n\nfunction extractUOB(text) {\n  const amountMatch = text.match(/([A-Z]{3})\\s([\\d,]+\\.\\d{2})/);\n  const currency = amountMatch ? amountMatch[1] : null;\n  const amount = amountMatch ? parseFloat(amountMatch[2].replace(/,/g, \"\")) : null;\n\n  const cardMatch = text.match(/Card ending\\s(\\d{4})/i);\n  const cardEnding = cardMatch ? cardMatch[1] : null;\n\n  const merchantMatch = text.match(/at\\s(.+?)\\./i);\n  const merchant = merchantMatch ? merchantMatch[1].trim() : null;\n\n  const dateMatch = text.match(/on\\s(\\d{2}\\/\\d{2}\\/\\d{2})/i);\n  let transactionISO = null;\n\n  if (dateMatch) {\n    const parts = dateMatch[1].split('/');\n    const year = \"20\" + parts[2];\n    const month = parts[1];\n    const day = parts[0];\n    transactionISO = new Date(`${year}-${month}-${day}T12:00:00+08:00`).toISOString();\n  }\n\n  result.push({\n    bank: \"UOB\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: cardEnding,\n    normalize_merchant: normalizeMerchant(merchant || \"\")\n  });\n}\n\nfunction normalizeMerchant(name) {\n  return name.toUpperCase().replace(/[^A-Z0-9]/g, \"\").trim();\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "710b8391-f926-4069-bb71-103a7928f655",
      "name": "UobParser"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM telegram LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1296,
        272
      ],
      "id": "86fbe365-923c-41ec-86ad-e68a07a02bbb",
      "name": "GetTelegram",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *,\n       similarity('{{ $('Loop Over Items').item.json.normalize_merchant }}', merchant_normalized) AS sim\nFROM merchant_mcc_cache WHERE similarity('{{ $('Loop Over Items').item.json.normalize_merchant }}', merchant_normalized) > 0.4\nORDER BY sim DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        304
      ],
      "id": "9e1139ea-0672-4678-b397-f11de6e27a9d",
      "name": "GetFromMCCSim",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "textHtml",
        "extractionValues": {
          "values": [
            {
              "key": "cleaned",
              "cssSelector": " table tr:nth-of-type(4) p:nth-child(4)",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        672
      ],
      "id": "cd01e1f5-54e1-4883-8573-a86a12ebf450",
      "name": "dbs_card_html_parser"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet result = []\nfor (const item of $input.all()) {\n\n    ExtractDBS(item)\n\n}\n\nfunction ExtractDBS(item) {\n    \n  let merchant = item.json.merchant\n  const amountMatch = item.json.amount.match(/([A-Z]{3})*([\\d,]+\\.\\d{2})/);\n  let currency = null\n  let amount = null\n   if (amountMatch) {\n      currency = amountMatch[1];\n      amount = parseFloat(amountMatch[2].replace(/,/g, \"\"));\n    }\n  // Get current year\n  const year = new Date().getFullYear();\n  \n  // Remove the timezone abbreviation, append year, and add SGT offset (+08:00)\n  const cleanStr = $input.item.json.time.replace(/\\(SGT\\)/, '').trim() + ` ${year} +08:00`;\n  \n  // Convert to Date and ISO string\n  const transactionISO = new Date(cleanStr).toISOString();\n  \n\n\n  result.push( {\n    bank: \"DBS\",\n    merchant,\n    currency,\n    amount,\n    time: transactionISO,\n    identifier: item.json.identifier,\n    normalize_merchant: normalizeMerchant(merchant)\n  });\n\n}\n\nfunction normalizeMerchant(name) {\n  return name\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        528
      ],
      "id": "ad778327-e6d0-4e69-8724-540ac393b871",
      "name": "DbsParser"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "MaribankParser",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "UobParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromCache": {
      "main": [
        [
          {
            "node": "GetFromMCCSim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfCached": {
      "main": [
        [
          {
            "node": "UseExactCache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfSimilar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMCCFromAPI": {
      "main": [
        [
          {
            "node": "CreateCacheFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCacheFromAPI": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UseExactCache": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfSimilar": {
      "main": [
        [
          {
            "node": "CreateCacheFromSimilar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetMCCFromAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCacheFromSimilar": {
      "main": [
        [
          {
            "node": "CreateTransactionEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransactionEntry": {
      "main": [
        [
          {
            "node": "GetConversionRates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetConversionRates": {
      "main": [
        [
          {
            "node": "ConvertCurrencyIfNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertCurrencyIfNeeded": {
      "main": [
        [
          {
            "node": "GetAccount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetAccount": {
      "main": [
        [
          {
            "node": "CreateTransaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateTransaction": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MaribankParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "paylah_html_parser": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "paylah_html_parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dbs_card_html_parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "CreateAccountIfNotExists",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetMCCFromCache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "DbsParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UobParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTelegram": {
      "main": [
        [
          {
            "node": "IfCached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFromMCCSim": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetTelegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dbs_card_html_parser": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DbsParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74aa710c-ffb7-4a7b-8a7b-8785606162b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21cbf5f4b074cb6076d705cc4435b7218d2a874f1e8dfc22b2b66cc7c2ba0c86"
  },
  "id": "spendtracker",
  "tags": []
}