workflows/telegramquery.json
{
  "name": "TelegramQuery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1424,
        240
      ],
      "id": "142f82d5-c24c-48f8-82b4-9463f9e0fd17",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $('TelegramToken').item.json.token }}/getUpdates?timeout=8&limit=1&offset={{ $('TelegramOffset').item.json.offset }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        240
      ],
      "id": "978576ac-0990-46a2-8d49-d5773c61de63",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "matchType": "allConditions",
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -880,
        240
      ],
      "id": "8f1d49da-97db-4ec8-8da8-49f3e25883cf",
      "name": "TelegramOffset"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47e9db2b-a30f-4853-beb0-9d08686e76d9",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "70643a47-1d0f-4af8-94df-595d22e967b0",
              "leftValue": "='{{ $json.result[0].message.chat.id }}'",
              "rightValue": "='{{ $('TelegramToken').item.json.group_id }}'",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        240
      ],
      "id": "4e5010cc-2518-4266-9468-a67959795e63",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offset": "={{ $json.result.first().update_id+1 }}"
          },
          "matchingColumns": [
            "offset"
          ],
          "schema": [
            {
              "id": "offset",
              "displayName": "offset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        128,
        480
      ],
      "id": "d17e3b3d-e1d9-44fe-9be9-72bfef35d6c7",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].message.text }}",
                    "rightValue": "/totalspend",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "1d3475ff-ee94-48c5-a6f1-054274b5cf48"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GetTotalSpendings"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9267e0c2-9382-4bed-a8a4-88fad7b4fc08",
                    "leftValue": "={{ $json.result[0].message.text }}",
                    "rightValue": "/spendbycards",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GetTotalSpendByCards"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc153695-0540-4d23-b446-de76521faff7",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -288,
        144
      ],
      "id": "6c958d44-b0ca-4785-864a-0a67592b303a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT SUM(amount_base_currency) as total_amount FROM transactions;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "a8cc256f-bd5e-411e-9d9d-d6de3d827ef8",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramToken').item.json.group_id }}",
        "text": "=💸 <b>Total Spendings</b>\n\n<b>Total Amount: SGD {{ $json.total_amount }}</b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "a8454ae6-3313-4b0c-b123-cc6ce55b91fe",
      "name": "Send a text message",
      "webhookId": "ef90e087-9748-4a04-bc60-6977bd2c8454",
      "credentials": {
        "telegramApi": {
          "id": "nbHkKJJySQ1pgycv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offset": "={{ $json.result.first().update_id+1 }}"
          },
          "matchingColumns": [
            "offset"
          ],
          "schema": [
            {
              "id": "offset",
              "displayName": "offset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -128,
        448
      ],
      "id": "d2cd99f9-578f-4803-afa1-b19ae47be4a3",
      "name": "Update row(s)2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    SUM(transactions.amount_base_currency) AS total_amount,\n    ACCOUNTS.identifier AS id,\n    ACCOUNTS.bank AS bank\nFROM \n    transactions\nINNER JOIN \n    ACCOUNTS \nON \n    ACCOUNTS.id = transactions.account_id\nGROUP BY \n    ACCOUNTS.bank,\n    ACCOUNTS.identifier;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        320
      ],
      "id": "91ab8d68-ee5c-4c5c-ad4e-6c28019971b5",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramToken').item.json.group_id }}",
        "text": "=Card/Wallet: {{ $json.bank }} {{ $json.id }}\nTotal Amount Spent: SGD {{ $json.total_amount }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        320
      ],
      "id": "7db2b10a-08d2-444f-ac2b-2cd04bac8328",
      "name": "Send a text message1",
      "webhookId": "ef90e087-9748-4a04-bc60-6977bd2c8454",
      "credentials": {
        "telegramApi": {
          "id": "nbHkKJJySQ1pgycv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offset": "={{ $('HTTP Request').item.json.result[0].update_id+1 }}"
          },
          "matchingColumns": [
            "offset"
          ],
          "schema": [
            {
              "id": "offset",
              "displayName": "offset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        544,
        320
      ],
      "id": "3bc07a14-dc77-4a3f-b761-5af0ac094c0c",
      "name": "Update row(s)3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4347c406-71b4-401a-9c5b-7813f134b6b4",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        464
      ],
      "id": "17fe76bf-cab4-4830-b6de-d983bbde758d",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "telegram_offset",
        "columns": {
          "column": [
            {
              "name": "offset",
              "type": "number"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1248,
        240
      ],
      "id": "0e346bb8-c813-4cda-a045-7dab72b26074",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "offset"
          ],
          "schema": [
            {
              "id": "offset",
              "displayName": "offset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -720,
        464
      ],
      "id": "c5316b40-39e6-4c37-9dfb-52acc1cc543a",
      "name": "Insert row",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -928,
        464
      ],
      "id": "36ec3256-cecb-4f09-bedd-f50dbdf008b8",
      "name": "If row does not exist",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "telegram_offset",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "1"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "offset": "={{ $('HTTP Request').item.json.result[0].update_id+1 }}"
          },
          "matchingColumns": [
            "offset"
          ],
          "schema": [
            {
              "id": "offset",
              "displayName": "offset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "cc373266-3c17-4c35-bd86-6b932e8c433d",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "telegram",
          "mode": "list",
          "cachedResultName": "telegram"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1072,
        240
      ],
      "id": "3303011a-3373-46eb-a202-3a309429e2eb",
      "name": "TelegramToken",
      "credentials": {
        "postgres": {
          "id": "tJk4TZtu62G05Qy6",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramOffset": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Update row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a data table": {
      "main": [
        [
          {
            "node": "TelegramToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramToken": {
      "main": [
        [
          {
            "node": "TelegramOffset",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "32a72bc4-7b46-4673-8a39-ff2d6d26f500",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4916a0a99b8771ceaf3fbe35ca3e9e1bd743b801c4a3da404f3a4f4e253c2221"
  },
  "id": "telegramquery",
  "tags": []
}
